 <footer >
              <div class="container-fluid">
              <div class="row" style="list-style-type:none;">
                <div class="col-sm-3" id="f1">
                    <div>
                    <img id="footer_img" src="./assets/images/logo2.jpg">
                    </div>
                    <span id="footer_span"> © 2021 neonacreations.</span><br>
                    <span  id="footer_span">All Rights Reserved</span>     
                </div>
                <div class="col-sm-3" id="footer_sec1">

                        <ul>
                          <li>
                            <a routerLink="../home" >Home</a>
                          </li>
                          <li>
                            <a routerLink="../aboutus" >About</a>
                          </li>
                          <li>
                            <a routerLink="../products" >Products</a>
                          </li>
                          <li>
                            <a routerLink="../contactus">Contact Us</a>
                          </li>
                        </ul>
                </div>
                <div class="col-sm-3" id="footer_sec1">

                    <ul>
                      <li>
                        <a routerLink="../Returns">Returns</a>
                      </li>
                      <li>
                        <a routerLink="../SupportPolicy">Support Policy</a>
                      </li>
                      <li>
                        <a routerLink="../Sizeguide">Size Guide</a>
                      </li>
                      <li>
                        <a routerLink="../FAQ,s">FAQ,s</a>
                      </li>
                    </ul>
            </div>
            <div class="col-sm-3" id="footer_sec1">

                <ul>
                  <li>
                    <a href="https://www.facebook.com/neonacreationsofficial"><i class="fa fa-facebook" style="color:black;margin-right:1vw;"></i>Facebook</a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/neonacreationsofficial/"><i class="fa fa-instagram" style="color:black;margin-right:1vw;"></i>Instagram</a>
                  </li>
                  <li>
                    <a href="https://api.whatsapp.com/send?phone=919920073686&text=Hi%20we%20need%20help%20regarding%20something" target="_blank" class="applyinfo-btn"><i class="fa fa-phone" style="color:black;margin-right:1vw;"></i>Contact No</a>
                  </li>
                  <li>
                    <a href="https://api.whatsapp.com/send?phone=919920073686&text=Hi%20we%20need%20help%20regarding%20something" target="_blank"  class="applyinfo-btn"><i class="fa fa-whatsapp" style="color:black;margin-right:1vw;"></i>Whatsapp</a>
                  </li>
                  
                </ul>
          </div>
            </div>
            </div>
          </footer>
 
