<html>
<head>
</head>
<body onload="getcategoryname1();" >

    <app-header></app-header>
    <header class="mug_masthead">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              <h1 class="font-weight-light" id="slide_head">Shop</h1>
              <p class="lead" id="product_slide_subhead"><a routerLink="../home" style="color:#929292;text-decoration: none;font-weight: bold;" >Home </a> > <a routerLink="../products" style="color:black;text-decoration: none;font-weight: bold;"> Products </a></p>
            </div>
          </div>
        </div>
      </header>
      <div class="row" id="product_section_2" style="list-style-type:none;">
        <div class="col-md-12"> 
          <div class="card" id="product_tabs" style="border:1px solid transparent;">
            <ul class="nav nav-tabs" id="product_nav_tab" style="border-bottom: 2px solid #dee2e6; ">
                <li  class="" id="product_s1"  ><a href="#all"  data-toggle="tab"><span>ALL</span></a></li>
                <li class="" id="product_s2"><a id="category_1"  href="#Handmade" (click)="getcategoryid(post._id);getfindbyid1();" data-toggle="tab"  *ngFor="let post of productcategory"><span>{{post.name}}</span></a></li>
            </ul>
            <div class="tab-content" id="product_tab_content" style="background-color:#FFFFFF;">
              <div  class="tab-pane active" id="all" >
               <ul class="row" style="list-style-type:none;">
                    <li class="col-12 col-md-6 col-lg-3" *ngFor="let post of productlist ">
                    <a><img id="product_pd_img1" class="ihv" src="{{post.image[0]}}" (click)="product_id(post._id)" > </a>
                   <h4 id="p1"  style="color:#7E7E7E;">{{post.name}} </h4>
                   <h5 id="pro_p1_price" *ngIf="pricestatus == true && post.price != undefined">{{post.price}}</h5>
                </li>
               </ul>
                  <!-- <input type="submit" id="more_option_1" value=" + More " onclick="more_products_1();"> -->
                  </div>
                <div  class="tab-pane" id="Handmade">
                  <ul class="row" style="list-style-type:none;">
                    <li class="col-12 col-md-6 col-lg-3" *ngFor="let post of table">
                        <!-- <span class="span_1">{{post.typeProduct}}</span> -->
                      <a (click)="product_id(post._id)"><img id="product_tab2_img4" class="ihv"  (click)="product_id(post._id)" src="{{post.image[0]}}" > </a>
                      <h4 id="products_tab2_p3" style="color:#7E7E7E;">{{post.name}}</h4>
                      <h5 id="p3_price" style="color:#333333;font-weight: bold;" *ngIf="pricestatus == true && post.price != undefined">{{post.price}}</h5>
                   </li>
                  
                </ul>
                     <!-- <input type="submit" id="more_option" value=" + More "> -->
    
                </div>

          </div>
        </div>
      </div>
      <button onclick="topfunctn()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
    </div>
    <app-footer></app-footer>
</body>
</html>